.container {
    display: flex;
    flex-direction: column;
}

.searchcontainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    
    
}
.inputField {
    margin-right: 12px;
    padding-left: 40px;
    width: 40%;
    border-radius: 15px;
    border: 0 solid #A0A0A0;
    -webkit-box-shadow: 0 5px 20px -5px rgba(0,0,0,.07);
    box-shadow: 0 5px 20px -5px rgba(0,0,0,.3);    ;

}
