.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border: 0 solid #A0A0A0;
    -webkit-box-shadow: 0 5px 20px -5px rgba(0,0,0,.07);
    box-shadow: 0 5px 20px -5px rgba(0,0,0,.3);   
}
.textInfoContainer{
    max-width: 50%;
}



@media (max-width: 600px) {
    .container{
        flex-direction: column-reverse;
    }
    .searchcontainer {
        width: 90%;
    } 
    .textInfoContainer {
        max-width: 100%;
        width: 100%;
    }

}